# CityBikes

Send a request to CityBikes for the city of your choice.

In [24]:
import requests

In [25]:
companies = requests.get("http://api.citybik.es/v2/networks").json()['networks']

for company in companies:
  if company['location']['city'] == "Bhopal":
    print(company)

{'company': ['Nextbike GmbH'], 'href': '/v2/networks/chartered-bike-bhopal-bhopal', 'id': 'chartered-bike-bhopal-bhopal', 'location': {'city': 'Bhopal', 'country': 'IN', 'latitude': 23.2467, 'longitude': 77.411}, 'name': 'Chartered Bike'}

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [30]:
networks = requests.get("http://api.citybik.es/v2/networks/chartered-bike-bhopal-bhopal").json()['network']

data = []
for network in networks['stations']:
  data.append([network['latitude'], network['longitude'], network['free_bikes']])

# print(data)

Put your parsed results into a DataFrame.

In [31]:
import pandas as pd

df= pd.DataFrame(data)
df.colums = ['latitude','longitude','freebikes']

df

C:\Users\benny\AppData\Local\Temp\ipykernel_6420\2202053239.py:4: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.colums = ['latitude','longitude','freebikes']

            0          1  2
0   23.249586  77.395599  2
1   23.222624  77.424051  5
2   23.192864  77.450197  4
3   23.203445  77.446469  6
4   23.200714  77.447472  3
..        ...        ... ..
91  23.268475  77.457554  4
92  23.227344  77.401239  2
93  23.240382  77.376334  1
94  23.232322  77.379065  2
95  23.233004  77.381998  2

[96 rows x 3 columns]

In [32]:
df.to_csv("../data/city_bikes.csv",header=['latitude','longitude','free_bikes'])